.page__body {
  font-family: 'Courier New', Courier, monospace;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #d4d1d1;
  margin: 0;
}
.page__title {
  box-sizing: border-box;
  padding: 20px;
  background-image: url("https://ak8.picdn.net/shutterstock/videos/19625368/thumb/4.jpg");
  background-size: cover;
  width: 100%;
  text-align: center;
  margin: 0;
  color: #b57829;
  font-size: 60px;
  text-shadow: 2px 2px grey;
}
.input__container {
  margin-top: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.input__number {
  display: block;
  margin: 30px 0;
  padding: 5px;
  width: 70px;
  height: 70px;
  font-size: 25px;
  border-radius: 50%;
  text-align: center;
}
.btn {
  border:none;
  border-radius: 10px;
  font-family: 'Courier New', Courier, monospace;
  padding: 10px;
  margin-bottom: 15px;
  background-color: white;
  box-shadow: 0 0 4px 0 rgba(0,0,0,0.32);
}
.counter-box {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media all and (min-width: 700px){
  .counter-box {
    position: absolute;
    top: 150px;
    right: 50px;
  }
}

.counter {
  display: block;
  color: red;
  font-size: 80px;
  background-color: cadetblue;
  border-radius: 50%;
  width: 110px;
  margin-bottom: 10px;
}
.clue__text {
  box-sizing: border-box;
  text-align: center;
  border: solid 1px blue;
  color: blue;
  margin: 10px 0;
  padding: 15px 30px;
}

.alert-box {
  background-color: rgb(243, 243, 160);
  box-shadow: 0 0 4px 0 rgba(0,0,0,0.32);
  padding: 15px;
  width: 180px;
  position: relative;
}
.alert-box::before {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  top: -10px;
  left: 45%;
  transform: translateY(-50%);
  transform: rotate(45deg);
  background-color: rgb(243, 243, 160);
}
.hidden {
  display: none;
}

.winner__img {
  border-radius: 50px;
  width: 250px;
}
.winner {
  border: solid 1px green;
  color: green;
  margin: 0 0 10px;
}
